<p>Älä vastaa tähän automaattiseen viestiin.</p>

<p>
Lomakkeelle "{{ formTitle.fi }}" on uusi pääsypyyntö käyttäjältä "{{ person.fullName }} ({{ person.emailAddress }})".<br>
Siirry alla olevaan osoitteeseen käsitelläksesi pyynnön:</p>

<p>https://{{ BASE }}/project/{{ formID }}/admin/accept</p>

<p>
Ystävällisin terveisin,<br>
Lajitietokeskus<br>
https://{{ BASE }}
</p>

<hr>

<p>Detta är ett automatiserat e-postmeddelande, var vänlig och svara inte.</p>

<p>
Det finns en ny formulärtillståndsförfrågan på "{{ formTitle.sv }}" från "{{ person.fullName }} ({{ person.emailAddress }})".<br>
Navigera till adressen nedan för att acceptera eller avslå begäran:
</p>

<p>https://{{ BASE }}/project/{{ formID }}/admin/accept</p>

<p>
Vänliga hälsningar,<br>
Finlands Artdatacenter<br>
https://{{ BASE }}
</p>

<hr>

<p>This is an automated email, please do not reply.</p>

<p>
There is a new form permission request for "{{ formTitle.en }}" from "{{ person.fullName }} ({{ person.emailAddress }})".<br>
Navigate to the address below to accept or reject the request:
</p>

<p>https://{{ BASE }}/project/{{ formID }}/admin/accept</p>

<p>
Best regards,<br>
FinBIF<br>
https://{{ BASE }}
</p>
