<p>Älä vastaa tähän automaattiseen viestiin.</p>

<p>Pääsypyyntösi lomakkeelle "{{ formTitle.fi }}" on hyväksytty.</p>

<p>
Ystävällisin terveisin,<hr>
Lajitietokeskus<hr>
https://{{ BASE }}
</p>

<hr>

<p>Detta är ett automatiserat e-postmeddelande, var vänlig och svara inte.</p>

<p>Din begäran om tillgång till formuläret "{{ formTitle.sv }}" har varit accepterad.</p>

<p>
Vänliga hälsningar,<br>
Finlands Artdatacenter<br>
https://{{ BASE }}
</p>

<hr>

<p>This is an automated email, please do not reply.</p>

<p>Your request to access the form "{{ formTitle.en }}" has been accepted.</p>

<p>
Best regards,<br>
FinBIF<br>
https://{{ BASE }}
</p>k
