<p>Älä vastaa tähän automaattiseen viestiin.</p>

<p>Pääsypyyntösi lomakkeelle {{ formTitle.fi }} on vastaanotettu. Saat sähköpostin kun pyyntösi on käsitelty.</p>

<p>
Ystävällisin terveisin,<br>
Lajitietokeskus<br>
https://{{ BASE }}
</p>

<hr>

<p>Detta är ett automatiserat e-postmeddelande, var vänlig och svara inte.</p>

<p>Din begäran om tillgång till formuläret {{ formTitle.sv }} har mottagits. Vi skickar dig ett nytt email när din förfrågan har hanterats.</p>

<p>
Vänliga hälsningar,<br>
Finlands Artdatacenter<br>
https://{{ BASE }}
</p>

<hr>

<p>This is an automated email, please do not reply.</p>

<p>Your request to access the form {{ formTitle.en }} has been received. We will send you a new email when you request has been handled.</p>

<p>
Best regards,<br>
FinBIF<br>
https://{{ BASE }}
</p>
